/* main page css */

body{
    background-color: gray;
}

#authentication-box{
    position: fixed;
    right: 10px;
    top:10px;
    border: solid black;
    width: 150px;
    height: 50px;    
}

.btn_auth{
    background-color: white;
}

#flex-container{
    display: flex;
    border: solid black;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
}

.game-tile{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid black;
}

/* page 2 */

#game-options{
    display: none;
    /* display: flex; */
    border: solid black;
    justify-content: space-around;
}

.opt-btn{
    /* margin: auto; */
}

#game-board{
    width: 90%;
    height: 1000px;
    display: none;
    margin: auto;
    margin-top: 50px;
    border: solid black;
    justify-content: center;
}

#board-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#game-btn{
    
}

/* tic-tac game css */

#tictac-board{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    border: solid black;
    /* margin-top: 40%; */
    width: 40vw;
    height: 40vw;
}

.tt-box{
    display: flex;
    width: 30%;
    border: solid black;
    /* margin: auto; */
    justify-content: center;
    padding-top: 10%;
    font-weight: bold;
    
}
