body{
    background-color: gray;
}

#authentication-box{
    position: fixed;
    right: 10px;
    top:10px;
    border: solid black;
    width: 150px;
    height: 50px;    
}

.btn_auth{
    background-color: white;
}

#flex-container{
    display: flex;
    border: solid black;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
}

.game-tile{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid black;
}